h1 {
  color: #DCDCDC;
}

h3 {
  color: #DCDCDC;
}

p {
  color: #DCDCDC;
  font-size: 12px;
}

.title {
  text-decoration: underline
}

.contentDiv {
  display: flex; 
  flex-wrap: wrap; 
  justify-content:flex-start;
}
